{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a new entry
{% endblock %}

{% block body %}
    <h5>Add a new entry</h5>

    <form action="{% url 'encyclopedia:add_entry' %}" mthod="get">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the title" name="title">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" placeholder="must write in markdown language"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit Entry</button>
      </form>

{% endblock %}